Django==4.1.5
django-ninja==0.20.0
django-ninja-extra==0.18.0
django-ninja-jwt==5.2.2
ninja-schema==0.13.0
vina==1.2.3
meeko==0.4.0
biopandas==0.4.1
py3Dmol==1.8.1
MDAnalysis==2.4.1
prolif==1.1.0
autopep8==2.0.1